* {
  box-sizing: border-box;
  color: #fff;
  font-family: monospace;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
}

html {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,247,1) 50%, rgba(252,176,69,1) 100%);
  height: 100vh;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
}

html::before {
  content: 'GO BACK TO WORK!!!';
}

body {
  display: none !important;
}